<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Menu Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/manter-usuários">Usuários</a>
                    <a class="dropdown-item" routerLink="/manter-veículos">Veículos</a>
                    <a class="dropdown-item" routerLink="/manter-rotas">Rotas</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Carona
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/buscar-caronas">Buscar</a>
                    <a class="dropdown-item" routerLink="/manter-caronas">Registrar</a>
                    <a class="dropdown-item" routerLink="/confirmar-caronas">Confirmar</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fechar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="fechar()" routerLink="/login">Sair</a>
                    <a class="dropdown-item" (click)="fechar()" routerLink="/recuperar-conta">Trocar Senha</a>
                </div>
            </li>
        </ul>
    </div>
</nav>