<section>
    <main>
        <app-header></app-header>
    </main>
</section>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <form id="form" #frm="ngForm">
                <div class="form-row" id="consulta">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left">
                                <input [(ngModel)]="consultaCarona" pInputText id="con-carona" name="con-carona"
                                    type="search" minlength="8" maxlength="8" autocomplete="off"
                                    placeholder="Cód. Verificador" class="form-control input-md"
                                    style="position: relative; width: 150px;">
                                <button pButton type="button" (click)="consultarCarona(consultaCarona)"
                                    class="p-button-rounded p-button-text p-button-plain p-button-secondary"
                                    icon="pi pi-search">
                                </button>
                            </div>
                            <div class="p-toolbar-group-right">
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-success medio" icon="pi pi-check"
                                    [disabled]="frm.invalid" (click)="salvar(frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-danger medio" icon="pi pi-trash"
                                    [disabled]="frm.invalid" (click)="excluir(carona.id, frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-secondary medio" icon="pi pi-times"
                                    (click)="limpar(frm)"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="codVerificador">Rota</label>
                        <input [(ngModel)]="carona.rota.verificador" pInputText
                            (blur)="consultarRota($event.target.value)" id="codVerificador" name="codVerificador"
                            autocomplete="off" type="text" class="form-control input-md" readonly=“true” required />
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="cpf">Usuário(CPF)</label>
                        <br />
                        <p-inputMask [(ngModel)]="carona.usuario.cpf" (blur)="consultarUsuario($event.target.value)"
                            title="cpf" id="cpf" autocomplete="off" name="cpf" mask="999.999.999-99"
                            placeholder="EX: XXXXXXXXXXX" styleClass="form-control input-md"
                            placeholder="Digite seu cpf" required>
                        </p-inputMask>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="data">Horário</label>
                        <input [(ngModel)]="carona.horario_aproximado" pInputText id="horario" name="horario"
                            placeholder="00:00:00" class="form-control input-md" autocomplete="off" type="time"
                            required />
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="acompanhantes">Acompanhantes</label>
                        <br />
                        <p-inputNumber [(ngModel)]="carona.acompanhantes" id="acompanhantes" name="acompanhantes"
                            mode="decimal" autocomplete="off" inputStyleClass="form-control input-md"
                            placeholder="Nº acompanhantes" [useGrouping]="false" [showButtons]="true"
                            inputId="minmax-buttons" [min]="0" [max]="10" required>
                        </p-inputNumber>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label for="pontoEncontro">Ponto de Encontro</label>
                        <input [(ngModel)]="carona.ponto_encontro" pInputText id="pontoEncontro" name="pontoEncontro"
                            type="text" placeholder="colocar ponto de encontro preferivel" minlength="5" maxlength="80"
                            autocomplete="off" class="form-control input-md" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label for="situacao">Situação</label>
                        <input [(ngModel)]="carona.situacao" pInputText id="situacao" name="situacao" type="text"
                            readonly=“true” placeholder="situação da carona" autocomplete="off"
                            class="form-control input-md" required />
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-6">
                        <label for="contribuicao">Contribuição</label>
                        <select [(ngModel)]="carona.contribuicao.id" pInputText id="contribuicao" name="contribuicao"
                            class="form-control" required>
                            <option *ngFor="let contribuicao of contribuicoes" value="{{ contribuicao.id }}">{{
                                contribuicao.tipo }}
                                -
                                {{ contribuicao.valor }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-md-1 col-lg-1">
                        <button pButton type="button" (click)="pegarDados()" class="p-button-outlined p-button-info"
                            icon="pi pi-plus-circle" routerLink="/manter-contribuições" id="add-cont">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mensagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{informacao}}</p>
            </div>
        </div>
    </div>
</div>