h2 {
    position: relative;
    text-align: center;
    top: 30px;
    left: 40px;
}

#form {
    position: relative;
    left: 100px;
    top: -30px;
}

#consulta-local {
    position: relative;
    top: 15px;
    left: 510px;
}

.table-overflow {
    position: relative;
    top: 25px;
    left: -90px;
    max-height: 250px;
    overflow-y: auto;
}

#add-cont {
    position: relative;
    top: 32px;
    left: -3px;
    width: 45%;
}

.medio {
    position: relative;
    left: 480px;
    top: 50px;
    width: 12%;
    margin: 5px;
}

#consulta {
    position: relative;
    top: -40px;
}