#form {
    position: relative;
    top: 120px;
}

#consulta {
    position: relative;
    top: -70px;
}

#add-cont {
    position: relative;
    top: 32px;
    width: 100%;
}

.medio {
    position: relative;
    margin-left: 10px; 
    width: 40px;
}