<div class="modal fade" id="mensagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{mensagem}}</p>
            </div>
        </div>
    </div>
</div>

<div class="vs-screen-bg">
    <div class="container">
        <div class="row vertical-center-row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-center-block">
                <div class="row" id="form-login">
                    <div class="col-sm-2 col-md-3">
                        <div class="text-center">
                            <div class="img-responsive"><img src="assets/logo.png" alt="50%" width="95%" height="27%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-9">
                        <h2>Login</h2>
                        <form id="form" #frm="ngForm">
                            <div class="login-form">
                                <div class="form-group">
                                    <input [(ngModel)]="usu.cpf" type="text" autocomplete="off" class="form-control login-field" name="usuario" placeholder="Digite seu CPF" minlength="11" maxlength="11" pattern="[0-9]+$" id="login-name" required>
                                    <label class="login-field-icon fui-user" for="login-name"></label>
                                </div>

                                <div class="form-group">
                                    <input [(ngModel)]="usu.senha" type="password" class="form-control login-field" name="senha" placeholder="digite sua Senha" minlength="8" maxlength="20" id="login-pass" required>
                                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                                </div>

                                <a class="login-link">Esqueceu a
                                senha?</a>
                                <button class="btn btn-primary btn-lg btn-block" (click)="login()" [disabled]="frm.invalid">Entrar</button>
                                <button class="btn btn-secondary btn-lg btn-block" (click)="registrar()" [routerLink]="['/manter-usuários']">Me Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>