<div class="vs-screen-bg">
    <div class="container">
        <div class="row vertical-center-row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-center-block">
                <div class="row" id="form-login">
                    <div class="col-sm-2 col-md-3">
                        <div class="text-center">
                            <div class="img-responsive"><img src="assets/logo.png" alt="50%" width="95%" height="27%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-9">
                        <h2>Login</h2>
                        <div class="login-form">
                            <div class="form-group">
                                <input type="text" class="form-control login-field" value=""
                                    placeholder="Digite seu CPF" id="login-name">
                                <label class="login-field-icon fui-user" for="login-name"></label>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control login-field" value=""
                                    placeholder="digite sua Senha" id="login-pass">
                                <label class="login-field-icon fui-lock" for="login-pass"></label>
                            </div>

                            <a class="login-link" href="http://www.jquery2dotnet.com/" target="_blank">Esqueceu a
                                senha?</a>
                            <a class="btn btn-primary btn-lg btn-block">Entrar</a>
                            <a class="btn btn-secondary btn-lg btn-block" href="#">Me Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>