<section>
    <main>
        <app-header></app-header>
    </main>
</section>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <form id="form" #frm="ngForm">
                <div class="form-row" id="consulta">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left">
                                <p-inputMask [(ngModel)]="consultaPlaca" id="con-vei" name="con-vei" mask="aaa-9999"
                                    placeholder="Placa do veículo" autocomplete="off"
                                    styleClass="form-control input-md">
                                </p-inputMask>

                                <button pButton type="button" (click)="consultar(consultaPlaca)"
                                    class="p-button-rounded p-button-text p-button-plain p-button-secondary"
                                    icon="pi pi-search">
                                </button>
                            </div>
                            <div class="p-toolbar-group-right">
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-success medio" icon="pi pi-check"
                                    [disabled]="frm.invalid" (click)="salvar(frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>

                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-danger medio" icon="pi pi-trash"
                                    [disabled]="frm.invalid" (click)="excluir(veiculo.id, frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>

                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-secondary medio" icon="pi pi-times"
                                    (click)="limpar(frm)"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="placa">Placa</label>
                        <br />
                        <p-inputMask [(ngModel)]="veiculo.placa" id="placa" name="placa" mask="aaa-9999"
                            placeholder="Placa do veículo" autocomplete="off" styleClass="form-control input-md"
                            required>
                        </p-inputMask>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="cpf">Usuário(CPF)</label>
                        <br />
                        <p-inputMask [(ngModel)]="veiculo.usuario.cpf" (blur)="consultarUsuario($event.target.value)"
                            title="cpf" id="cpf" autocomplete="off" name="cpf" mask="999.999.999-99"
                            placeholder="EX: XXXXXXXXXXX" styleClass="form-control input-md"
                            placeholder="Digite seu cpf" required>
                        </p-inputMask>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="renavam">Renavam</label>
                        <br />
                        <p-inputMask [(ngModel)]="veiculo.renavam" title="renavam" id="renavam" name="renavam"
                            mask="99999999999" autocomplete="off" styleClass="form-control input-md"
                            placeholder="Renavam do veículo" required>
                        </p-inputMask>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label for="modelo">Modelo</label>
                        <input [(ngModel)]="veiculo.modelo" pInputText autocomplete="off" id="modelo" name="modelo"
                            type="text" maxlength="40" placeholder="Modelo do veículo" class="form-control input-md"
                            required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label for="cor">Cor</label>
                        <input [(ngModel)]="veiculo.cor" pInputText autocomplete="off" id="cor" name="cor"
                            maxlength="40" type="text" placeholder="Cor do veículo" class="form-control input-md"
                            required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <label for="tipo">Tipo</label>
                        <select [(ngModel)]="veiculo.tipo" pInputText id="tipo" name="tipo" class="form-control"
                            required>
                            <option value="Carro">Carro</option>
                            <option value="Moto">Moto</option>
                            <option value="Caminhonete">Caminhonete</option>
                            <option value="Ônibus">Ônibus</option>
                            <option value="Kombi">Kombi</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="capacidade">Capacidade</label>
                        <input [(ngModel)]="veiculo.capacidade" pInputText id="capacidade" name="capacidade"
                            type="number" placeholder="Capacidade do veículo" autocomplete="off"
                            class="form-control input-md" min="1" max="10" required>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="minmax-buttons">Ano</label>
                        <br />
                        <p-inputNumber [(ngModel)]="veiculo.ano_fabricacao" id="ano_fabricacao" name="ano_fabricacao"
                            mode="decimal" autocomplete="off" inputStyleClass="form-control input-md"
                            [useGrouping]="false" [showButtons]="true" inputId="minmax-buttons" [min]="1980"
                            [max]="2021" required>
                        </p-inputNumber>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mensagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{mensagem}}</p>
            </div>
        </div>
    </div>
</div>