h2 {
    position: relative;
    text-align: center;
    top: 70px;
    left: 130px;
}

#form {
    position: relative;
    left: 130px;
    top: 0px;
}

#consulta {
    position: relative;
    top: 0px;
    left: 220px;
}

.medio {
    position: relative;
    left: 310px;
    top: 70px;
    width: 12%;
    margin: 5px;
}