h2 {
    position: relative;
    text-align: center;
}

#form {
    position: relative;
    top: 100px;
}

#consulta {
    position: relative;
    top: -70px;
}

.medio {
    position: relative;
    width: 100%;
}