h2 {
    position: relative;
    text-align: center;
    top: 65px;
    left: 130px;
}

#form {
    position: relative;
    left: 350px;
    top: 25px;
}

#consulta {
    position: relative;
    left: 350px;
    top: -10px;
}

.contato{
    position: relative;
    top: 10px;
    width: 100%;
    height:60px;
}

.medio{
    position: relative;
    left: 600px;
    top: 70px;
    width: 8%;
    margin: 4px;
}

label {
    position: relative;
    right: 13px;
}
