<section>
    <main>
        <app-header></app-header>
    </main>
</section>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <form id="form" class="center" #frm="ngForm">
                <div class="form-row" id="consulta">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left">
                                <p-inputMask [(ngModel)]="consultaCPF" id="con_usu" name="con_usu" mask="999.999.999-99"
                                    placeholder="cpf do usuário" autocomplete="off" styleClass="form-control input-md"
                                    unmask="true">
                                </p-inputMask>
                                <button pButton type="button" (click)="consultar(consultaCPF)"
                                    class="p-button-rounded p-button-text p-button-plain p-button-secondary"
                                    icon="pi pi-search">
                                </button>
                            </div>
                            <div class="p-toolbar-group-right">
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-success medio" icon="pi pi-check"
                                    [disabled]="frm.invalid" (click)="salvar(frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-danger medio" icon="pi pi-trash"
                                    [disabled]="frm.invalid" (click)="excluir(usuario.id, frm)" data-toggle="modal"
                                    data-target="#mensagem"></button>
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-secondary medio" icon="pi pi-times"
                                    (click)="limpar(frm)"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="usuario.nome" pInputText autocomplete="off" id="nome" name="nome"
                            type="text" placeholder="Digite o seu nome completo" class="form-control input-md"
                            maxlength="60" required />
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="cpf">CPF</label>
                        <br />
                        <p-inputMask [(ngModel)]="usuario.cpf" title="cpf" id="cpf" name="cpf" mask="999.999.999-99"
                            unmask="true" styleClass="form-control input-md" autocomplete="off"
                            placeholder="Digite seu cpf" required>
                        </p-inputMask>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input [(ngModel)]="usuario.email" pInputText id="email" name="email" class="form-control"
                                placeholder="email@email.com" autocomplete="off" type="text"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="100" required email />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="dt_nascimento">Dt. Nascimento</label>
                        <input [(ngModel)]="usuario.dt_nascimento" pInputText id="dt_nascimento" name="dt_nascimento"
                            placeholder="DD/MM/AAAA" autocomplete="off" class="form-control input-md" type="date"
                            required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <label for="sexo">Sexo</label>
                        <br />
                        <p-radioButton [(ngModel)]="usuario.sexo" name="sexo" value="M" label="Masculino">
                        </p-radioButton>
                        <p-radioButton [(ngModel)]="usuario.sexo" name="sexo" value="F" label="Feminino">
                        </p-radioButton>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]="usuario.senha" pInputText id="senha" name="senha" type="password"
                            placeholder="senha de acesso" autocomplete="off" class="form-control input-md" minlength="8"
                            maxlength="20" required />
                        <small id="passwordHelpInline" class="text-muted">
                            Deve ter entre 8 e 20 caracteres.
                        </small>

                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <button type="button" pButton class="p-button-outlined p-button-primary contato"
                            [disabled]="frm.invalid" (click)="salvar(frm)" icon="pi pi-phone" routerLink="/manter-contatos"
                            id="add-con">
                            Adicionar Contato
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mensagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{mensagem}}</p>
            </div>
        </div>
    </div>
</div>