<section>
    <main>
        <app-header></app-header>
    </main>
</section>
<div class="modal fade" id="mensagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{mensagem}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <form id="form" #frm="ngForm">
                <div class="form-row">
                    <div class="form-group col-lg-5">
                        <h2>Cadastro de Contribuições</h2>
                    </div>
                    <div class="form-group col-lg-7">
                        <button type="button" class="btn btn-success medio" [disabled]="frm.invalid" (click)="salvar()" data-toggle="modal" data-target="#mensagem">Salvar</button>
                        <button type="button" class="btn btn-danger medio" [disabled]="frm.invalid" (click)="excluir(contribuicao.id)" data-toggle="modal" data-target="#mensagem">Remover</button>
                        <button type="button" class="btn btn-secondary medio" (click)="limpar()">Limpar</button>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="tipo">Tipo</label>
                        <select id="tipo" name="tipo" class="form-control" [(ngModel)]="contribuicao.tipo" required>
                            <option value="Dinheiro">Dinheiro</option>
                            <option value="Cartão">Cartão</option>
                            <option value="Dinheiro e Cartão">Dinheiro e Cartão</option>
                            <option value="Gasolina">Gasolina</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="valor">Valor</label>
                        <input id="valor" name="valor" autocomplete="off" maxlength="60" [(ngModel)]="contribuicao.valor" placeholder="valor/descrição da contribuição" class="form-control input-md" type="text" required>
                    </div>
                </div>

                <div class="table-overflow">
                    <table class="table table-bordered-sm table-hover table-active" id="tabela">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contribuicao of contribuicoes" (click)="consultar(contribuicao.id)">
                                <td> {{ contribuicao.tipo }}</td>
                                <td> {{ contribuicao.valor }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>