h3 {
    position: relative;
    text-align: center;
    top: 30px;
}

#form {
    position: relative;
    left: 400px;
    top: 70px;
}

.table-overflow{
    position: relative;
    top: 40px;
    left: -70px;
    max-height:250px;
    max-width: 700px;
    overflow-y:auto;
    text-align: center;
}

.medio{
    position: relative;
    left: 220px;
    top: 150px;
    width: 8%;
    margin: 4px;
}

label {
    position: relative;
    right: 13px;
}

#btn-prin{
    position: relative;
    left: 380px;
}