h2 {
    position: relative;
    text-align: center;
    top: 20px;
}

#form {
    position: relative;
    left: 130px;
    top: 20px;
}

.table-overflow {
    position: relative;
    top: 30px;
    max-height: 250px;
    max-width: 700px;
    overflow-y: auto;
    text-align: center;
}

.medio {
    position: relative;
    left: 335px;
    top: 85px;
    width: 12%;
    margin: 5px;
}