h2 {
    position: relative;
    text-align: center;
    top: 15px;
}

#form {
    position: relative;
    left: 120px;
    top: 10px;
}

.table-overflow {
    position: relative;
    top: 25px;
    left: -20px;
    max-height: 250px;
    max-width: 750px;
    overflow-y: auto;
    text-align: center;
}

.medio {
    position: relative;
    left: 360px;
    top: 65px;
    width: 12%;
    margin: 5px;
}