h3 {
    position: relative;
    text-align: center;
    top: 30px;
}

#form {
    position: relative;
    left: 350px;
    top: 70px;
}

.table-overflow{
    position: relative;
    top: 30px;
    left: -35px;
    max-height:200px;
    max-width: 750px;
    overflow-y:auto;
    text-align: center;
}

.medio{
    position: relative;
    left: 230px;
    top: 110px;
    width: 8%;
    margin: 4px;
}

label {
    position: relative;
    right: 13px;
}

#btn-prin{
    position: relative;
    left: 380px;
    top: 50px;
}