<div class="modal fade" id="men-success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Contato salvo com sucesso!</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="men-danger" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Contato removido com sucesso!</p>
            </div>
        </div>
    </div>
</div>

<h3>Cadastro de Contatos</h3>

<form id="form" #frm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="tipo">Tipo</label>
            <select [(ngModel)]="contato.tipo" id="tipo" name="tipo" class="form-control" required>
                <option value="Residencial">Residencial</option>
                <option value="Celular">Celular</option>
                <option value="Fixo">Fixo</option>
                <option value="Serviço">Serviço</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="telefone">Telefone</label>
            <input [(ngModel)]="contato.telefone" id="telefone" name="telefone" type="tel" placeholder="(XX)XXXXX-XXXX"
                minlength="8" maxlength="15" autocomplete="off" class="form-control input-md" required>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="Nome">CPF(Usuário)</label>
            <input [(ngModel)]="contato.usuario.cpf" (blur)="consultarUsuario($event.target.value)" id="cpf" name="cpf"
                placeholder="EX: XXXXXXXXXXX" class="form-control input-md" type="text" autocomplete="off"
                minlength="11" maxlength="11" pattern="[0-9]+$" required>
        </div>
    </div>

    <div class="table-overflow">
        <table class="table table-bordered-sm table-hover table-active" id="tabela">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contato of contatos">
                    <td> {{ contato.tipo }}</td>
                    <td> {{ contato.telefone }}</td>
                    <td> {{ contato.usuario.nome }}</td>
                    <td><button type="button" (click)="consultar(contato.id)" class="btn btn-info"
                            id="btnPesquisar">Selecionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>


<div class="container" id="btn-prin">
    <button type="button" class="btn btn-success medio" (click)="salvar()" [disabled]="frm.invalid" data-toggle="modal"
        data-target="#men-success">Salvar</button>
    <button type="button" class="btn btn-danger medio" (click)="excluir(contato.id)" [disabled]="frm.invalid"
        data-toggle="modal" data-target="#men-danger">Remover</button>
    <button type="button" class="btn btn-secondary medio" (click)="limpar(frm)">Limpar</button>
</div>