<h2>Cadastro de Rotas</h2>

<div class="form-row" id="consulta">
    <div class="form-group col-md-2">
        <label class="col-md-2 control-label" for="con_rota">CONSULTAR</label>
        <input [(ngModel)]="consultaCodVer" (blur)="consultar($event.target.value)" id="con_rota" name="con_rota" type="search" autocomplete="off" placeholder="codigo verificador da rota" minlength="8" maxlength="8" class="form-control input-md">
    </div>
</div>

<form id="form" #frm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="data">Data</label>
            <input [(ngModel)]="rota.data" id="data" name="data" placeholder="DD/MM/AAAA" class="form-control input-md" type="date" minlength="10" maxlength="10" required />
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="data">Horário</label>
            <input [(ngModel)]="rota.horario" id="horario" name="horario" placeholder="00:00:00" class="form-control time-mask" autocomplete="off" type="text" minlength="8" maxlength="8" required />
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="placa">Veiculo(Placa)</label>
            <input [(ngModel)]="rota.veiculo.placa" (blur)="consultarVeiculo($event.target.value)" id="placa" autocomplete="off" name="placa" type="text" placeholder="XXX-0000" minlength="8" maxlength="8" class="form-control input-md" required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-md-6 control-label" for="pontoEncontro">Saída</label>
            <input [(ngModel)]="rota.inicio" id="pontoEncontro" name="pontoEncontro" type="text" minlength="10" maxlength="100" autocomplete="off" placeholder="endereço, ponto de referencia e cidade da sua saída" class="form-control input-md" required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-md-6 control-label" for="localDestino">Destino</label>
            <input [(ngModel)]="rota.fim" id="localDestino" name="localDestino" type="text" minlength="10" maxlength="100" autocomplete="off" placeholder="endereço, ponto de referencia e cidade do seu destino" class="form-control input-md" required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="status">Status</label>
            <select [(ngModel)]="rota.status" id="status" name="status" class="form-control" required>
                <option value="Disponivel">Disponivel</option>
                <option value="Indisponivel">Indisponivel</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-2 control-label" for="contribuicao">Contribuição</label>
            <select [(ngModel)]="rota.contribuicao.id" id="contribuicao" name="contribuicao" class="form-control" required>
                <option *ngFor="let contribuicao of contribuicoes" value="{{ contribuicao.id }}">{{ contribuicao.tipo }}
                    -
                    {{ contribuicao.valor }}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-info" routerLink="/manter-contribuições" id="add-cont">
                <svg width="32px" height="22px" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
        <div class="form-group col-md-1" id="posi-veri">
            <label class="col-md-1 control-label" for="verificador">Verificador</label>
            <input [(ngModel)]="rota.verificador" readonly=“true” autocomplete="off" id="verificador" name="verificador" type="text" class="form-control input-md" required />
        </div>
        <div class="form-group col-md-1">
            <button (click)="gerarVerificador(8)" type="button" class="btn btn-info" id="gerar-ver">
                <svg width="32px" height="22px" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                    <path fill-rule="evenodd"
                        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                </svg>
            </button>
        </div>
    </div>
</form>

<div class="container">
    <button type="submit" class="btn btn-success medio" [disabled]="frm.invalid" (click)="salvar()">Salvar</button>
    <button type="button" class="btn btn-danger medio" [disabled]="frm.invalid" (click)="excluir(rota.id)">Remover</button>
    <button type="button" class="btn btn-secondary medio" (click)="limpar()">Limpar</button>
</div>