<section>
    <main>
        <app-header></app-header>
    </main>
</section>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <form id="form" #frm="ngForm">
                <div class="form-row" id="consulta">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left">
                                <input [(ngModel)]="consultaCodVer" pInputText id="con_rota" name="con_rota" type="TEXT"
                                    autocomplete="off" placeholder="código verificador rota" minlength="8" maxlength="8"
                                    styleClass="form-control input-md">

                                <button pButton type="button" (click)="consultar(consultaCodVer)"
                                    class="p-button-rounded p-button-text p-button-plain p-button-secondary"
                                    icon="pi pi-search">
                                </button>
                            </div>
                            <div class="p-toolbar-group-right">
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-success medio" icon="pi pi-check"
                                    [disabled]="frm.invalid" (click)="salvar(frm)"></button>

                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-danger medio" icon="pi pi-trash"
                                    [disabled]="frm.invalid" (click)="excluir(rota.id, frm)"></button>

                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-secondary medio" icon="pi pi-times"
                                    (click)="limpar(frm)"></button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="data">Data</label>
                        <input [(ngModel)]="rota.data" pInputText id="data" name="data" placeholder="DD/MM/AAAA"
                            class="form-control input-md" autocomplete="off" type="date" minlength="10" maxlength="10"
                            required />
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="horario">Horário</label>
                        <input [(ngModel)]="rota.horario" pInputText id="horario" name="horario" placeholder="00:00:00"
                            class="form-control input-md" autocomplete="off" type="time" step="0" required />
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="placa">Veiculo(Placa)</label>
                        <br />
                        <p-inputMask [(ngModel)]="rota.veiculo.placa" (blur)="consultarVeiculo(rota.veiculo.placa)"
                            id="placa" name="placa" mask="aaa-9999" placeholder="Placa do veículo" autocomplete="off"
                            styleClass="form-control input-md" required>
                        </p-inputMask>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label for="pontoEncontro">Saída</label>
                        <input [(ngModel)]="rota.inicio" id="pontoEncontro" name="pontoEncontro" type="text"
                            minlength="10" maxlength="100" autocomplete="off" pInputText
                            placeholder="endereço, ponto de referencia e cidade da sua saída"
                            class="form-control input-md" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label for="localDestino">Destino</label>
                        <input [(ngModel)]="rota.fim" id="localDestino" name="localDestino" type="text" minlength="10"
                            maxlength="100" autocomplete="off" pInputText
                            placeholder="endereço, ponto de referencia e cidade do seu destino"
                            class="form-control input-md" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-2 col-lg-2" id="posi-veri">
                        <label for="verificador">Verificador</label>
                        <input [(ngModel)]="rota.verificador" readonly=“true” pInputText autocomplete="off"
                            id="verificador" name="verificador" type="text" class="form-control input-md" required />
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <label for="status">Status</label>
                        <select [(ngModel)]="rota.status" id="status" pInputText name="status" class="form-control"
                            required>
                            <option value="Disponivel">Disponivel</option>
                            <option value="Indisponivel">Indisponivel</option>
                        </select>
                    </div>
                    <div class="col-sm-8 col-md-5 col-lg-5">
                        <label for="contribuicao">Contribuição</label>
                        <select [(ngModel)]="rota.contribuicao.id" pInputText id="contribuicao" name="contribuicao"
                            class="form-control" required>
                            <option *ngFor="let contribuicao of contribuicoes" value="{{ contribuicao.id }}">{{
                                contribuicao.tipo }}
                                -
                                {{ contribuicao.valor }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-md-1 col-lg-1">
                        <button pButton type="button" (click)="pegarDados()" class="p-button-outlined p-button-info"
                            icon="pi pi-plus-circle" routerLink="/manter-contribuições" id="add-cont">
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>