h2 {
    position: relative;
    text-align: center;
}

#form {
    position: relative;
    left: 130px;
    top: 60px;
}

#consulta {
    position: relative;
    top: -45px;
    left: 0px;
}

.medio {
    position: relative;
    left: 150px;
    width: 15%;
    margin: 5px;
}

#gerar-ver {
    position: relative;
    top: 32px;
}

#add-cont {
    position: relative;
    top: 32px;
    width: 100%;
}