h2 {
    position: relative;
    text-align: center;
    top: 55px;
    left: 140px;
}

#form {
    position: relative;
    left: 350px;
    top: 20px;
}

#consulta {
    position: relative;
    left: 345px;
    top: -15px;
}

.medio {
    position: relative;
    left: 620px;
    top: 70px;
    width: 8%;
    margin: 4px;
}

#posi-veri{
    position: relative;
    left: -167px;
}

#gerar-ver{
    position: relative;
    top: 32px;
    left: -174px;
}

#add-cont{
    position: relative;
    top: 32px;
    left: -7px;
}

label {
    position: relative;
    right: 13px;
}