h1 {
    position: relative;
    text-align: center;
    top: -150px;
}

form {
    position: relative;
    top: 180px;
}

#usu_cpf {
    position: relative;
    top: -50px;
}

.casa{
    position: relative;
    width: 80%;
    height: 110%;
    top: -150px;
}

.medio {
    position: relative;
    width: 100%;
}