h3 {
    position: relative;
    text-align: center;
}

.table-overflow {
    position: relative;
    top: -30px;
    max-height: 250px;
    overflow-y: auto;
}

#form {
    position: relative;
    top: 20px;
}

.medio {
    position: relative;
    left: 620px;
    top: 80px;
    width: 12%;
    margin: 6px;
}