h2 {
    position: relative;
    text-align: center;
}

.table-overflow {
    position: relative;
    top: -40px;
    max-height: 250px;
    overflow-y: auto;
}

#form {
    position: relative;
    top: 70px;
}

.medio {
    position: relative;
    top: 80px;
    width: 100%;
}