<h3>Caronas Registradas</h3>

<div class="form-group col-md-10">
    <div class="table-overflow">
        <table class="table table-bordered table-active" id="tabela">
            <thead class="table-light">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Rota</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Ponto Encontro</th>
                    <th scope="col">Acompanhantes</th>
                    <th scope="col">Contribuição</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carona of caronas">
                    <td>{{ carona.rota.data }}</td>
                    <td>{{ carona.rota.verificador }}</td>
                    <td>{{ carona.horario_aproximado }}</td>
                    <td>{{ carona.ponto_encontro }}</td>
                    <td>{{ carona.acompanhantes }}</td>
                    <td>{{ carona.contribuicao.tipo }} - {{ carona.contribuicao.valor }}</td>
                    <td>{{ carona.usuario.cpf }}</td>
                <td><button class="btn btn-info" (click)="consultar(carona.id)">Selecionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form id="form" #frm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label class="col-md-1 control-label" for="codCarona">Carona</label>
            <input [(ngModel)]="carona.id" id="codCarona" name="codCarona" type="text" class="form-control input-md" disabled>
        </div>
        <div class="form-group col-md-8">
            <label class="col-md-8 control-label" for="observacao">Observação</label>
            <input [(ngModel)]="carona.observacao" id="observacao" name="observacao" type="text" 
            minlength="10" maxlength="100" class="form-control input-md" required>
        </div>
    </div>
    
    <div class="container">
        <button type="button" class="btn btn-success medio" [disabled]="frm.invalid">Confirmar</button>
        <button type="button" class="btn btn-danger medio" [disabled]="frm.invalid">Cancelar</button>
        <button type="button" class="btn btn-secondary medio" (click)="limpar(frm)">Limpar</button>
    </div>
</form>